# General
.settings/
.DS_Store
license.json
spiffe-helper
*examplecluster*
*.jar
*.tar.gz
download
curlresponse.txt

# Build and Release Folders
build/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules
dist/
.idea
.gradle

# SCIM
chapter-04-scim-user-migration/data/customers-migrated.json