# General
.settings/
.DS_Store
license.json
*democluster*
*.jar
*.tar.gz
download
curlresponse.txt

# Build and Release Folders
build/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules
dist/
.idea
.gradle
local.properties

# Swift files
xcuserdata/
project.xcworkspace/

# API gateway certificate files
external-certs/*democluster*

# Files created at deployment time using substitution
*-subst.yaml

# SCIM
chapter-04-scim-user-migration/data/customers-migrated.json

# Gateway
resources/apigateway/helm-values.yaml

## SPIFFE
chapter-10-workload-identities/base/authorizationserver/resources/signing*
chapter-10-workload-identities/base/authorizationserver/resources/helm-values.yaml
!chapter-10-workload-identities/demoapi/gradle/wrapper/gradle-wrapper.jar
